doctype
html
	head
		title Hola mundo
		link(
			rel='stylesheet'
			href='css/styles.min.css'
		)
	body
		div.container
			div.row
				div.col-sm-12.text-center
					h1 Static Front-End Workflow
					hr
					h3 Bootstrap, Pug and Vue.js 2 integration
					p
						a(href='https://github.com/calirojas/static-frontend-workflow/') Read the documentation

			div.row
				div.col-sm-12.text-center
					p Developed by Cali Rojas
		script(
			src='js/scripts.min.js'
		)