doctype
html
	head
		title Hola mundo again
		link(
			rel='stylesheet'
			href='css/styles.min.css'
		)
	body
		div.container
			div.row
				div.col-sm-12
					h1.text-center Test
			div.row
				div.col-sm-12
					div.panel.panel-default
						div.panel-heading
							h3.panel-title Hola
						div.panel-body
							p Hola mundo
						div.panel-footer
							div.text-right
								button.btn.btn-primary Hello world
		script(
			src='js/scripts.min.js'
		)